html{
   background-color: whitesmoke;
}

h1{
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
   border-bottom: thin solid;
}

p{
   padding: 2px 15px;
}

.done { text-decoration: line-through; }

.list-complite-item{ transition: all 1s;}
.list-complite-enter, .list-complite-leave-to
   /*.list-complete-leave-active for below version 2.1.8*/{
   opacity: 0;
   transform: translateX(30px);
}
.list-complite-leave-active{ position: absolute;}


text{
   background-color: lightsalmon;
}

button{
   background-color: lightcyan;
}

.my-skyblue{ color: skyblue;}

.github{ color: black;}

.note-style{ color: white; }

.inline-block{
   text-align: center;
   display: inline-block;
   padding: 10px;
}

.link-dark{
   color: black;
   text-decoration: none;
}