<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <script src = "https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title>shark_TODO_List</title>
    </head>
    <link href="../styles/style.css" rel="stylesheet" type="text/css">
    <body>
        <p>TODOリストです。チェックボックスをつけるとその作業は完了したものとみなし、作業内容に打ち消し線が引かれます。
            ページのリロードを行った際でもTODOリストがリセットされないようになっており、TODOリストが空になった際にはTODOが無いという表記に変わります。
            また、試験的にTODO追加時や削除にアニメーションがつくようになりました。</p>
        <p>追加したい作業があればテキストボックスに入力し、Add TODOボタンを入力すると追加することができます。
            またチェックしたTODOは削除ボタンを押すと削除することができます。</p>
        <div id="app">

            <transition-group name="list-complite" tag="ul" mode="out-in">
                
                <li v-for="item in items" v-bind:key="item" class="list-complite-item">
                    <label v-bind:class="{ done: item.isChecked }">
                        <input type="checkbox" v-model="item.isChecked" v-on:change="saveTodo">{{ item.title }}
                    </label>
                </li>
                <li v-if="items.length == 0" key="nothing" class="list-complite-item">
                    <p class="list-complite-nothing">TODOがありません</p>
                </li>

            </transition-group>

            <span>
                <!--チェック済みのものをチェックリストから削除-->
                <button v-on:click="deleteTodo()">チェック済みの項目を削除する</button><br>
                <div class="inline-block">
                    <input type="text" placeholder="追加したいTODOを入力しよう" v-model="inputting"></input>
                    <button v-on:click="addTodo(inputting)">Add TODO</button>
                </div><br>
                <button v-on:click="defaultTODO()">Default TODO</button>
            </span>
        
        </div>

        <script src = "./todo_list.js"></script> 
        <p><a href="../index.html">戻る</a></p> 
    
    </body>
</html>